<div class="menu_height">
<ul class="nav navbar-nav pull-right">
    <li ng-repeat="menu in navigation" ng-class="{'dropdown-subnav': menu.subnav && menu.subnav.length}" class="{{menu.classis}}">
        <a href="{{menu.link}}" class="a_height">{{menu.name}}</a>
        <ul class="dropdown-menu" ng-if="menu.subnav && menu.subnav.length">
            <li ng-repeat="submenu in menu.subnav">
                <a href="{{submenu.link}}">{{submenu.name}}</a>
            </li>
        </ul>
    </li>
</ul>
</div>
